*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav css  */
.sticky-header{
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
}
nav .logo-bar a{
    /* font-size: 20px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;

}
nav{
    padding: 30px 100px;
    /* background-color: #514663; */
    /* background-color: #ddd8d8ef; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav .logo-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo-bar .togglebutton {
    height: 100%;
    background-color: #006400;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
}
.green{
    color: #006400;
}
/* mobile nav css */
.mobile-nav{
display: flex;
position: fixed;
padding: 40px 0px;
justify-content: center;
height: 100%;
width: 100vw;
background-color: #000;
display: none;
z-index: 1000;
overflow: hidden;
}

.mobile-nav ul li{
    list-style: none;
    margin: 0;

}
.mobile-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 30px;
    margin: 0;


}
.mobile-nav ul{
    line-height: 100px;
    text-align: center;
    margin: 0;

}
.mobile-nav ul li a.hover{
    background-color: #006400;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 500;
}
.mobile-nav ul li a.active{
    background-color: #006400;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 500;

}.mobile-nav ul li a.active::before{
    content: "#";
}
#close-btn{
    display: none;
}

.toggle-button-box{
    display: none;
}

@media (max-width:900px) {

    .toggle-button-box{
        display: block ;
    }
    nav{
        padding: 10px 10px;
    }
    .menu{
        display: none;
    }
    
}


/* dextop nav  */
.menu ul{
    display: flex;
    gap: 30px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    

}



.menu ul li a.active{
    background-color: #006400;
    color: #fff;
    padding: 10px;
    transition: 1s ease-in-out; 
    border-radius: 20px;
}
/* hero banner  */
.hero_banner{
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,2,35,1) 0%, rgba(0,100,0,1) 100%);
    display: flex;
    /* justify-content: center; */
    padding: 100px;
    /* padding: 100px 10px !important; */
    align-items: center;
}
.hero_content h1{
    font-size: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-align: center; */
    color: #fff;
}
.hero_content h3{
    font-size: 2.5em;
}
.hero_content{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* text-align: center; */

}
.hero_content span{
    font-size:20px;
}

.hero_content p{
    color: #fff;
    /* text-align: center; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;

}
@media (max-width:900px) {
    .hero_banner{
        align-items: start;
        padding: 100px 20px;
        height: 100%;
    }
    .hero_content{
        text-align: start;
    }
    .hero_content h1{
        font-size: 4em;
        margin-bottom: 40px !important;
        line-height: 60px;
        /* margin: 0; */
        text-align: start;
    }
    .hero_content p{
        text-align: left;
        font-size: 20px;
        text-transform: lowercase;
        margin-bottom: 20px;
    }

    
}
.animated-text{
    font-size: 20px;
    font-weight: 600;
    min-width: 280px;
    color: #fff;
    margin-bottom: 20px;
  }
  .animated-text span{
    position: relative;
  }
  .animated-text span::before{
    content: "Youtuber";
    color: hsl(120, 100%, 80%);
    animation: words 20s infinite;
  }
  .animated-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 110%; 
    display: none;
    /* background: hsl(120, 100%, 70%);
    opacity: 0.9; */
    /* filter: blur(2px); */

    border-left: 2px solid #fff;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
  }
  @keyframes cursor {
    to{
        border-left: 2px solid ;
    }
  }
  @keyframes words {
    0%,20%{
        content: "Custom Website";
    }
    21%,40%{
        content: "Ecommerce Website";
    }
    41%,60%{
        content: "Lead Generation";
    }
    61%,80%{
        content: "Search Engine Optimization";
    }
    81%,100%{
        content: "Logo Design";
    }
  }
  @keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
  }
  @media (maxwidth:767px) {
    .animated-text{
      font-size: 16px !important;
    }
    
  }